<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main page</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Перша парова</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/services/main">Головна <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personalAccount">Особистий кабінет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Послуги</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/registration">Зареєструватись</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Увійти</a>
            </li>
        </ul>


    </div>
</nav>


<div class="container">
    <div class="text-center">
        <img class="img-fluid rounded" src="/images/pic2.PNG" alt="logo">
    </div>


    <h1 class="text-center">Прайс-лист</h1>


    <!--/*@thymesVar id="categories" type="firstStream.dto.PageDto<firstStream.dto.CategoryDto>"*/-->
    <div th:each="category : ${categories.objects}" th:if="${category.steamServices.size() > 0}">
        <h3 th:text="${category.name}"></h3>
        <table class="table">
        <thead>
            <tr class="row">
                <th class="col-10">Послуга</th>
                <th class="col-2">Ціна</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" th:each="service : ${category.steamServices}">
                <td class="col-10" th:text="${service.name}"></td>
                <td class="col-2" th:text="${service.price}"></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

</script>
</body>
</html>